.jumbotron{
    background-color: darkgrey;
    width: 100%;
    text-align: center;
}

/* .container{
    width: 90%;
} */

#citySelector {
    background-color: lightgrey;
}

ul {
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    padding: 0;
}

li {
    text-align: center;
    list-style: none;
    border-bottom: 2px solid lightgrey;
    padding: 5px 0;
}

.current {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
}

.forecast {
    padding-top: 20px ;
}

.daysDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.day {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px 5px 0 5px;
    margin-bottom: 10px;
}

.UV {
    padding: 5px;
    border-radius: 10px;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.veryhigh {
    background-color: red;
}

.extreme {
    background-color: violet;
}